.wrapper {
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 80px);
}

.cardboard {
    background-color: #eee;
    width: 20%;
    padding: 1.5em;
    border-radius: 10px;

    form {
        display: flex;
        flex-direction: column;
    }

    @media (max-width: 600px) {
        width: 90%;
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

.bottom {
    padding-top: 10px;
    margin: 10px
}