<div class="wrapper">
    <div class="cardboard">
        <form [formGroup]="form">
            <app-input label="E-mail" [control]="form.controls['email']" />
            <app-input label="Senha" type="password" [control]="form.controls['password']" />
            <app-button label="Entrar" [loading]="login.getLoading" icon="login" (onClick)="logIn()"></app-button>
        </form>
        <div class="bottom">
            <a class="left" href="/" mat-button>
                <mat-icon>arrow_back_ios</mat-icon>
                Voltar</a>
            <a class="right" href="/register" mat-button>
                <mat-icon>add</mat-icon>
                Nova conta</a>
                <br><br>
            <a class="wrapper" href="/recover"> Esqueceu a senha? </a>
        </div>
    </div>
</div>