.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

}

.big {
    width: 15%;
    height: 50%;
    line-height: 75px;
    font-size: 18px;
}